.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-curve {
    --mask:
        radial-gradient(57.88px at 50% calc(100% - 79.50px), #000 99%, #0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(57.88px at 50% calc(100% + 49.50px), #0000 99%, #000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;

    -webkit-mask: var(--mask, --mask2);
    mask: var(--mask);
    mask: var(--mask);
    width: 99vw;
    min-height:  35svh;
    background: rgb(28, 225, 192);
    background: linear-gradient(232deg, rgba(28, 225, 192, 1) 0%, rgba(64, 85, 229, 1) 100%);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 1.5em;
}

.title {
    font-size: 1.5em;
}

.subtitle {
    text-align: center;
    font-size: large;
    margin: 5px;
    color: rgb(237, 237, 237);
}

.subtitle-container {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}

#auto-text {
    min-width: 100%;
    min-height: 1.5em;
    font-weight: bolder;
}

#blink {
    color: lightgray;
    border: 1px solid rgba(43, 43, 43, 0.573);
    margin: 5px;
    max-height: 10px;
    animation: blink .6s infinite;
}

@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.brief-curve {
    min-height: 20svh;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    width: 100%;
    background: rgb(92, 28, 225);
    background: linear-gradient(145deg, rgba(92, 28, 225, 1) 0%, rgba(176, 64, 229, 1) 100%);
    --mask:
        radial-gradient(67.08px at 50% 90.00px, #000 99%, #0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
        radial-gradient(67.08px at 50% -60px, #0000 99%, #000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
        radial-gradient(67.08px at 50% calc(100% - 90.00px), #000 99%, #0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
        radial-gradient(67.08px at 50% calc(100% + 60.00px), #0000 99%, #000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    font-weight: bold;
    padding-bottom: 1.5em;

}

.rowHome {
    padding-top: 3em;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cardContainer {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5em;
}

.techTitle {
    font-size: 1.5em;
    margin-left: .5em;
    margin-top: 1.4em;
    margin-bottom: 1em;
}

li {
    margin: .7em;
}

ul {
    list-style-type: disc;
}

.techDetails {
    margin: .5em;
    font-size: .8em;
    word-wrap: break-all;
    border-radius: 20px;
    padding-bottom: 1.3em;
}

.detailCard {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1.5em 1em 2em 1em;
    border-radius: 1.3em;
    box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.4);
}

.space {
    margin-top: 3em;
    padding: 1.5em;
    margin-bottom: 4em;
    font-weight: bold;
}

.big {
    font-weight: bolder;
    font-size: 1.5em;
    margin: 0 0 .5em 0;
}

.line {
    border: 1px solid transparent;
    margin-top: 1em;
    margin-bottom: 1em;
}



.exitCurve {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 337px;
    max-width: 450px;
    font-size: 1.2em;
    font-weight: bolder;
    overflow: hidden;
    padding: 1.4em;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background: rgb(63, 251, 179);
    background: linear-gradient(51deg, rgba(63, 251, 179, 1) 0%, rgba(113, 82, 255, 1) 100%);
    box-shadow: 0 0 35px 8px rgba(25, 255, 255, 0.4);
    overflow-wrap: break-word;

}

.exitCurve2 {
    display: flex;
    text-align: center;

    justify-content: center;
    align-items: center;
    min-height: 360px;
    max-width: 450px;
    font-size: 1.2em;
    font-weight: bolder;
    overflow: hidden;
    padding: 1.4em;
    border-radius: 50% 50% 48% 52% / 63% 57% 43% 37%;
    background: rgb(17, 204, 183);
    background: linear-gradient(232deg, rgba(17, 204, 183, 1) 24%, rgba(27, 219, 53, 1) 100%);
    box-shadow: 0 0 35px 8px rgba(25, 255, 128, 0.532);
    overflow-wrap: break-word;

}

.exitCurve3 {
    display: flex;
    text-align: center;

    justify-content: center;
    align-items: center;
    min-height: 360px;
    max-width: 450px;
    font-size: 1.2em;
    font-weight: bolder;
    overflow: hidden;
    padding: 1.6em;
    border-radius: 78% 22% 24% 76% / 63% 51% 49% 37%;
    background: rgb(149, 5, 237);
    background: linear-gradient(51deg, rgba(149, 5, 237, 1) 0%, rgba(83, 51, 221, 1) 78%, rgba(22, 94, 207, 1) 100%);
    box-shadow: 0 0 35px 8px rgba(90, 25, 255, 0.632);
    overflow-wrap: break-word;

}

.upper {
    margin-bottom: 5em;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper2 {
    margin-bottom: 5em;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.welcomeText {
    margin: 1em;
    font-size: 1.2em;
}

.n {
    font-size: 1.4em;

}

.currentFocus {
    margin: 1em;
    font-size: 1.2em;
    font-weight: bold;

}