/* black box code */

.blackbox {
    position: relative;
    background-color: rgb(21, 23, 28);
    height: 70vh;
    width: 65vw;
    border-bottom-right-radius: 150px;
    color: white;
    font-size: 3.5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    font-family: cursive;
    user-select: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
}

.heading {
    font-weight: bolder;

}

#subtitle {
    font-size: medium;
    color: darkgrey;
}

#description {
    font-size: small;
    color: rgb(150, 150, 150);
}

.explorebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(53, 40, 255);
    background: linear-gradient(90deg, rgba(53, 40, 255, 1) 0%, rgba(128, 81, 253, 1) 57%, rgba(154, 89, 241, 1) 93%);
    font-size: .74rem;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 5%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

/* Purple Box code */

.purplebox {
    position: absolute;
    height: 50vh;
    width: 50vw;
    top: 0;
    right: 0;
    border-bottom-left-radius: 150px;
    color: white;
    font-weight: bold;
    /* background-color: transparent;
    background-image: linear-gradient(330deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%); */
    overflow-y: hidden;
    overflow-x: hidden;
    backdrop-filter: blur(50px);
    background: linear-gradient(330deg, #ff9a8b8c 0%, #ff6a8892 55%, #ff99aca5 100%);
    backdrop-filter: blur(10px);
}