.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-curve {
    --mask:
        radial-gradient(57.88px at 50% calc(100% - 79.50px), #000 99%, #0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(57.88px at 50% calc(100% + 49.50px), #0000 99%, #000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;

    -webkit-mask: var(--mask, --mask2);
    mask: var(--mask);
    mask: var(--mask);
    width: 99vw;
    min-height: 35svh;
    background: rgb(28, 225, 192);
    background: linear-gradient(232deg, rgba(28, 225, 192, 1) 0%, rgba(64, 85, 229, 1) 100%);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 1.5em;
}

.title {
    font-size: 1.5em;
}

.subtitle {
    text-align: center;
    font-size: large;
    margin: 5px;
    color: rgb(237, 237, 237);
}

.subtitle-container {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}

#auto-text {
    min-width: 100%;
    min-height: 1.5em;
    font-weight: bolder;
}

#blink {
    color: lightgray;
    border: 1px solid rgba(43, 43, 43, 0.573);
    margin: 5px;
    max-height: 10px;
    animation: blink .6s infinite;
}

@keyframes blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.brief-curve {
    min-height: 20svh;
    display: flex;
    flex-direction: column;
    font-size: x-large;
    width: 100%;
    background: rgb(92, 28, 225);
    background: linear-gradient(145deg, rgba(92, 28, 225, 1) 0%, rgba(176, 64, 229, 1) 100%);
    --mask:
        radial-gradient(67.08px at 50% 90.00px, #000 99%, #0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
        radial-gradient(67.08px at 50% -60px, #0000 99%, #000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
        radial-gradient(67.08px at 50% calc(100% - 90.00px), #000 99%, #0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
        radial-gradient(67.08px at 50% calc(100% + 60.00px), #0000 99%, #000 101%) 50% calc(100% - 30px)/120px calc(51% - 30px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    font-weight: bold;
    padding-bottom: 1.5em;

}

.rowHome {
    padding-top: 2em;
    padding-bottom: 3.5em;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}

.cardContainer {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5em;
}

.techTitle {
    font-size: 1.5em;
    margin-left: .5em;
    margin-top: 1.4em;
    margin-bottom: 1em;
}

li {
    margin: .7em;
}

ul {
    list-style-type: disc;
}

.techDetails {
    margin: .5em;
    font-size: .8em;
    word-wrap: break-all;
    border-radius: 20px;
    padding-bottom: 1.3em;
}

.detailCard {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1.5em 1em 2em 1em;
    border-radius: 1.3em;
    box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.4);
}

.space {
    margin-top: 3em;
    padding: 1.5em;
    margin-bottom: 4em;
    font-weight: bold;
}

.big {
    font-weight: bolder;
    font-size: 1.5em;
    margin: 0 0 .5em 0;
}

.line {
    border: 1px solid transparent;
    margin-top: 1em;
    margin-bottom: 1em;
}

.half-container {
    word-wrap: break-word;
    height: 100%;
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 1rem 0 1rem 0;
    border-radius: 25px;
    margin: .5em;

}

.g1 {

    background: rgb(36, 37, 37);

    background: linear-gradient(45deg, hsla(191, 71%, 68%, 1) 0%, hsla(248, 100%, 80%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(191, 71%, 68%, 1) 0%, hsla(248, 100%, 80%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(191, 71%, 68%, 1) 0%, hsla(248, 100%, 80%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#73D2E7", endColorstr="#A99BFF", GradientType=1);

}

.g2 {
    background: hsla(212, 35%, 58%, 1);

    background: linear-gradient(45deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6D90B9", endColorstr="#BBC7DC", GradientType=1);

}

.g3 {
    background: hsla(248, 21%, 15%, 1);

    background: linear-gradient(45deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(248, 21%, 15%, 1) 0%, hsla(250, 14%, 61%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#211F2F", endColorstr="#918CA9", GradientType=1);

}

.skills {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    margin-top: 5px;
    font-weight: bold;
}

.tag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 22px;

}


.skill-span {
    background-color: rgba(255, 255, 255, 0.232);
    backdrop-filter: blur(40px);
    border-radius: 50px;
    padding: 12px;
    height: max-content;
    width: max-content;
    flex-shrink: 0;
    letter-spacing: 1px;
    font-size: 1.05rem;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.155);
}

#link-projects {
    display: flex;
    align-items: center;
    color: aqua;
    /* text-decoration: underline; */
}

.upper {
    margin-bottom: 2em;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper2 {
    margin-bottom: 2em;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.welcomeText {
    margin: 1em;
    font-size: 1.2em;
}

.n {
    font-size: 1.4em;

}

.currentFocus {
    margin: 1em;
    font-size: 1.2em;
    font-weight: bold;

}
