/*            --------------------------- Desktop Version Of Navbar Below -------------------               */

@media (width > 1000px) {

    .mainContainer {

        height: 100vh;
        width: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .iconContainer {
        margin-top: 130%;
        text-align: center;
        font-size: large;

    }

    .themesContainer {
        font-size: smaller;
        /* position: absolute; */
        top: 0;
        font-size: large;
        transition: scale 0.3s ease-in-out;
    }

    .themesContainer:active {
        scale: 1.8;
    }

    .icons {
        cursor: pointer;
        padding: 15px;
        margin: 10px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: background-color 0.4s ease-out;
        transition: scale 0.3s ease-out;
    }

    .icons:active {
        scale: 1.8;
    }

}

/*            --------------------------- Mobile Version Of Navbar Below -------------------               */

@media (width < 1000px) {
    .mainContainer {
        z-index: 99;
        height: max-content;
        padding-top: 15px;
        padding-bottom: 15px;
        position: fixed;
        bottom: 0px;
        left: 0;
        right: 0;
        width: 100vw;
        overflow-y: auto;
        background: rgb(40, 38, 44);
        background: linear-gradient(180deg, rgba(40, 38, 44, 0) 0%, rgba(40, 38, 44, 0.5222312435716474) 26%, rgba(40, 38, 44, 0.6734917477733281) 48%, rgba(40, 38, 44, 1) 83%);
        overflow-x: auto;
        /* backdrop-filter: blur(20px); */
        border-radius: 3px;
    }

    .themesContainer {
        font-size: large;
        transition: scale 0.3s ease-out;


    }

    .iconContainer {
        width: 100;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.45rem;

    }

    .selectedBorder {
        border: 2px solid transparent;
    }

    .icons {
        cursor: pointer;
        padding: 10px;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.4s ease-out;
        transition: scale 0.3s ease-out;
    }

    .icons:active {
        scale: 1.8;
    }

    .themesContainer:active {
        scale: 1.8;
    }
}


/* -------------------------------------------------Common Version-------------------------------------------*/

.mainContainer {
    border-radius: 5px;
}