.parentContainer {
    height: 100%;
    position: relative;
    width: 100%;
    word-wrap: break-word;
    padding: 0.4em;
}

.mainParent {
    height: 150vh;
}

.projectTitle {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}

.notation {
    font-weight: bold;
    font-size: x-large;
}

.margin {
    margin-top: 0.7em;
}

#linktag {
    color: aqua;
    font-weight: bold;
}

.note {
    padding: 15px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    color: yellow;
    position: fixed;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    bottom: 10%;
    right: 0;
    font-size: medium;
    background-color: rgb(8, 8, 50);
    z-index: 100;
    backdrop-filter: blur(29px);
    animation: move 700ms ease-in-out forwards;
}

.progress {
    height: 5px;
    width: 10px;
    background-color: red;
    animation: progress 10s ease-in-out 1 forwards;
    margin-top: 7px;
}

@keyframes progress {
    from {
        width: 10px;
    }

    to {
        width: 100%;
    }

}

@keyframes move {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0px);
    }

}

#notfound {
    font-weight: bold;
    text-decoration: underline;
}

.spiinerduv {
    height: 100svh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    height: 58px;
    width: 58px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    border-top: 5px solid transparent;
    border-bottom: 5px solid white;
    border-radius: 50%;
    animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.innerspinner {
    height: 35px;
    width: 35px;
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-top: 4px solid white;
    border-bottom: 4px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 23%;
    left: 23%;
    animation: counterspin 1s infinite ease-in-out;

}

@keyframes counterspin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}